@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap");
:root {
  --green: #7cd3d0;
  --dark-color: #1b8884;
  --light-color: #b0fcf5;
  --border: 0.1rem solid rgba(201, 186, 186, 0.959);
  --border-hover: 0.1rem solid rgb(59, 55, 55);
  --box-shadow: 0.1rem solid rgb(248, 244, 244);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--black);
}

.header .header-1 {
  background: white;
  display: flex;
  padding: 1.5rem 9%;
  align-items: center;
  justify-content: space-between;
}
.header .header-1 .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}
.header .header-1 .logo i {
  color: var(--dark-color);
}
.header .header-1 .search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}
.header .header-1 .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .header-1 .search-form label:hover {
  color: var(--green);
}
.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 2.5rem;
  margin-left: 1.5;
  color: black;
  cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: var(--green);
}
#search-btn {
  display: none;
}
.header .header-2 {
  text: var(--dark-color);
}
